aniso8601
asgiref
cffi
cryptography
dataclasses
Django
django-mongoengine
djangorestframework
djongo
dnspython
graphene
graphene-django
graphql-core
graphql-relay
mongoengine
promise
pycparser
pymongo
pytz
six
sqlparse
text-unidecode
djangorestframework-simplejwt
django-decouple
django-environ
